@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
.header {
  border: 1px solid #E5E9F2;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
}

.logo img {
  display: block;
}

.nav__list--item {
  margin-left: 32px;
  text-decoration: none;
  color: #18191F;
  font-weight: 700;
  font-size: 14px;
}

.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-left: auto;
}

.content {
  padding: 220px 0 197px;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__text {
  max-width: 540px;
}

.content__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 98px;
  padding-bottom: 16px;
}

.content__copy {
  font-weight: 400px;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 32px;
}

.content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 284px;
  height: 62px;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #8c30f5;
}

.content__img img {
  width: 524px;
  height: 400px;
}

.footer {
  background-color: #0B0D17;
  color: #fff;
}

.footer__row {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-size: 14px;
  font-weight: 400;
  color: #D9DBE1;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 34px;
  background-color: #302E2E;
  border-radius: 50px;
}

.social__link:hover path {
  fill: #393B43;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */