.footer{
  background-color: #0B0D17;
  color: #fff;
}
.footer__row{
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy{
  font-size: 14px;
  font-weight: 400;
  color: #D9DBE1;
}
.socials{
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #302E2E;
  border-radius: 50px;
}
.social__link:hover{
   path{
    fill: #393B43;
  }
}